body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin: 0;
}

h1 {
    margin: 10px 0 0 0;
}

.nfl-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    margin: 20px 0 10px;
    font-size: 1.5em;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.conference, .division {
    width: 100%;
    margin: 20px 0;
}

#teams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team, .game {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: white;
}

.team a {
    text-decoration: none;
    color: white;
}

.countdown {
    font-size: 1.5em;
}

/* Team-specific styles */
.arizona-cardinals { background-color: #97233F; }
.atlanta-falcons { background-color: #A71930; }
.baltimore-ravens { background-color: #241773; }
.buffalo-bills { background-color: #00338D; }
.carolina-panthers { background-color: #0085CA; }
.chicago-bears { background-color: #0B162A; }
.cincinnati-bengals { background-color: #FB4F14; }
.cleveland-browns { background-color: #311D00; }
.dallas-cowboys { background-color: #041E42; }
.denver-broncos { background-color: #FB4F14; }
.detroit-lions { background-color: #0076B6; }
.green-bay-packers { background-color: #203731; }
.houston-texans { background-color: #03202F; }
.indianapolis-colts { background-color: #002C5F; }
.jacksonville-jaguars { background-color: #006778; }
.kansas-city-chiefs { background-color: #E31837; }
.las-vegas-raiders { background-color: #000000; }
.los-angeles-chargers { background-color: #0080C6; }
.los-angeles-rams { background-color: #003594; }
.miami-dolphins { background-color: #008E97; }
.minnesota-vikings { background-color: #4F2683; }
.new-england-patriots { background-color: #002244; }
.new-orleans-saints { background-color: #D3BC8D; }
.new-york-giants { background-color: #0B2265; }
.new-york-jets { background-color: #125740; }
.philadelphia-eagles { background-color: #004C54; }
.pittsburgh-steelers { background-color: #FFB612; }
.san-francisco-49ers { background-color: #AA0000; }
.seattle-seahawks { background-color: #002244; }
.tampa-bay-buccaneers { background-color: #D50A0A; }
.tennessee-titans { background-color: #4B92DB; }
.washington-commanders { background-color: #773141; }
