body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

h1 {
    margin: 10px 0 0 0;
}

/* Centers the logo using Firefox. */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main {
    padding: 20px;
}

/* Apply team-specific background color */
.team-header {
    padding: 20px;
    color: #fff; /* Text color to ensure contrast with the background */
}

h2 {
    margin: 20px 0 10px;
    font-size: 1.5em;
}

h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.conference {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.division-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.division {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    align-items: center;
    text-align: center;
}

#teams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: white;
}

.game {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: white;
}

.team a {
    text-decoration: none;
    color: white;
}

/* Team-specific styles */
.air-force-falcons { background-color: #0033A0; }
.akron-zips { background-color: #041E42; }
.alabama-crimson-tide { background-color: #9E1B32; }
.appalachian-state-mountaineers { background-color: #000000; }
.arizona-wildcats { background-color: #0C2340; }
.arkansas-razorbacks { background-color: #9D2235; }
.arkansas-state-red-wolves { background-color: #D00000; }
.auburn-tigers { background-color: #0C2340; }
.ball-state-cardinals { background-color: #BA0C2F; }
.baylor-bears { background-color: #003015; }
.boise-state-broncos { background-color: #09347A; }
.boston-college-eagles { background-color: #88001A; }
.bowling-green-falcons { background-color: #D74108; }
.buffalo-bulls { background-color: #005BBB; }
.central-michigan-chippewas { background-color: #6A0032; }
.charlotte-49ers { background-color: #00703C; }
.cincinnati-bearcats { background-color: #E00122; }
.clemson-tigers { background-color: #F66733; }
.coastal-carolina-chanticleers { background-color: #006B54; }
.colorado-buffaloes { background-color: #CFB87C; }
.colorado-state-rams { background-color: #004F30; }
.duke-blue-devils { background-color: #003087; }
.eastern-michigan-eagles { background-color: #006633; }
.ecu-pirates { background-color: #592A8A; }
.fau-owls { background-color: #00205B; }
.fiu-panthers { background-color: #041E42; }
.florida-gators { background-color: #0021A5; }
.florida-state-seminoles { background-color: #782F40; }
.fresno-state-bulldogs { background-color: #E71C24; }
.georgia-bulldogs { background-color: #BA0C2F; }
.georgia-southern-eagles { background-color: #041E42; }
.georgia-state-panthers { background-color: #0033A0; }
.georgia-tech-yellow-jackets { background-color: #B3A369; }
.hawaii-rainbow-warriors { background-color: #024731; }
.houston-cougars { background-color: #C8102E; }
.illinois-fighting-illini { background-color: #E84A27; }
.indiana-hoosiers { background-color: #990000; }
.iowa-hawkeyes { background-color: #000000; }
.iowa-state-cyclones { background-color: #C8102E; }
.kansas-jayhawks { background-color: #0051BA; }
.kansas-state-wildcats { background-color: #512888; }
.kent-state-golden-flashes { background-color: #002C77; }
.kentucky-wildcats { background-color: #0033A0; }
.la-tech-bulldogs { background-color: #005EB8; }
.louisiana-lafayette-ragin-cajuns { background-color: #E32636; }
.louisiana-monroe-warhawks { background-color: #6A0026; }
.louisville-cardinals { background-color: #AD0000; }
.lsu-tigers { background-color: #461D7C; }
.maryland-terrapins { background-color: #E03A3E; }
.memphis-tigers { background-color: #003087; }
.miami-hurricanes { background-color: #005030; }
.miami-oh-redhawks { background-color: #CE1126; }
.michigan-state-spartans { background-color: #18453B; }
.michigan-wolverines { background-color: #00274C; }
.middle-tennessee-blue-raiders { background-color: #0066CC; }
.minnesota-golden-gophers { background-color: #7A0019; }
.mississippi-state-bulldogs { background-color: #5E0029; }
.missouri-tigers { background-color: #F1B82D; }
.navy-midshipmen { background-color: #00205B; }
.nebraska-cornhuskers { background-color: #E41C38; }
.nevada-wolf-pack { background-color: #003366; }
.new-mexico-lobos { background-color: #BA0C2F; }
.north-carolina-tar-heels { background-color: #7BAFD4; }
.north-texas-mean-green { background-color: #00853E; }
.northwestern-wildcats { background-color: #4E2A84; }
.notre-dame-fighting-irish { background-color: #0C2340; }
.ohio-bobcats { background-color: #006A4D; }
.ohio-state-buckeyes { background-color: #BB0000; }
.oklahoma-sooners { background-color: #841617; }
.oklahoma-state-cowboys { background-color: #FF7300; }
.old-dominion-monarchs { background-color: #041E42; }
.ole-miss-rebels { background-color: #CE1126; }
.oregon-ducks { background-color: #004F39; }
.oregon-state-beavers { background-color: #DC4405; }
.penn-state-nittany-lions { background-color: #041E42; }
.pittsburgh-panthers { background-color: #003594; }
.purdue-boilermakers { background-color: #CEB888; }
.rice-owls { background-color: #002D72; }
.rutgers-scarlet-knights { background-color: #CC0033; }
.san-diego-state-aztecs { background-color: #A80532; }
.san-jose-state-spartans { background-color: #003A65; }
.smu-mustangs { background-color: #D81E05; }
.south-alabama-jaguars { background-color: #003F87; }
.south-carolina-gamecocks { background-color: #73000A; }
.southern-miss-golden-eagles { background-color: #FFD100; }
.stanford-cardinal { background-color: #990000; }
.syracuse-orange { background-color: #D44500; }
.tc-horned-frogs { background-color: #4D1979; }
.temple-owls { background-color: #A80532; }
.tennessee-volunteers { background-color: #FF8200; }
.texas-am-aggies { background-color: #500000; }
.texas-longhorns { background-color: #BF5700; }
.texas-state-bobcats { background-color: #800000; }
.texas-tech-red-raiders { background-color: #CC0000; }
.toledo-rockets { background-color: #003C71; }
.troy-trojans { background-color: #8C2633; }
.tulane-green-wave { background-color: #003A53; }
.tulsa-golden-hurricane { background-color: #002D72; }
.ucla-bruins { background-color: #536895; }
.uca-knights { background-color: #BA0C2F; }
.usc-trojans { background-color: #990000; }
.usf-bulls { background-color: #006747; }
.utah-state-aggies { background-color: #0F2439; }
.utah-utes { background-color: #CC0000; }
.utep-miners { background-color: #041E42; }
.utsa-roadrunners { background-color: #F15A22; }
.vanderbilt-commodores { background-color: #866D4B; }
.virginia-cavaliers { background-color: #232D4B; }
.virginia-tech-hokies { background-color: #630031; }
.wake-forest-demon-deacons { background-color: #1C1C1C; }
.washington-huskies { background-color: #4B2E83; }
.washington-state-cougars { background-color: #981E32; }
.west-virginia-mountaineers { background-color: #002855; }
.western-kentucky-hilltoppers { background-color: #A80532; }
.western-michigan-broncos { background-color: #492A1E; }
.wisconsin-badgers { background-color: #C5050C; }
.wyoming-cowboys { background-color: #533117; }
/* Big Sky */
.eastern-washington-eagles { background-color: #BA0C2F; }
.idaho-vandals { background-color: #FFCC00; }
.idaho-state-bengals { background-color: #F47920; }
.montana-grizzlies { background-color: #5E001D; }
.montana-state-bobcats { background-color: #003087; }
.northern-arizona-lumberjacks { background-color: #003366; }
.northern-colorado-bears { background-color: #002147; }
.portland-state-vikings { background-color: #154734; }
.sacramento-state-hornets { background-color: #1D8348; }
.weber-state-wildcats { background-color: #4F2683; }

/* Big South */
.campbell-fighting-camels { background-color: #F56A00; }
.charleston-southern-buccaneers { background-color: #0033A0; }
.gardner-webb-runnin-bulldogs { background-color: #E41C38; }

/* CAA */
.albany-great-danes { background-color: #4B0082; }
.delaware-blue-hens { background-color: #00539B; }
.elon-phoenix { background-color: #800000; }
.hampton-pirates { background-color: #00539B; }
.maine-black-bears { background-color: #041E42; }
.new-hampshire-wildcats { background-color: #003C71; }
.richmond-spiders { background-color: #A51C30; }
.stony-brook-seawolves { background-color: #D2232A; }
.towson-tigers { background-color: #FFB81C; }
.villanova-wildcats { background-color: #002D72; }
.william-mary-tribe { background-color: #115740; }

/* Ivy League */
.brown-bears { background-color: #4E3629; }
.columbia-lions { background-color: #7BAFD4; }
.cornell-big-red { background-color: #B31B1B; }
.dartmouth-big-green { background-color: #00693E; }
.harvard-crimson { background-color: #A51C30; }
.penn-quakers { background-color: #011F5B; }
.princeton-tigers { background-color: #FF8F00; }
.yale-bulldogs { background-color: #00356B; }

/* MEAC */
.delaware-state-hornets { background-color: #CE1126; }
.howard-bison { background-color: #002D62; }
.morgan-state-bears { background-color: #002D62; }
.norfolk-state-spartans { background-color: #007A33; }
.north-carolina-central-eagles { background-color: #800000; }
.south-carolina-state-bulldogs { background-color: #800000; }

/* Missouri Valley */
.illinois-state-redbirds { background-color: #CE1126; }
.indiana-state-sycamores { background-color: #0033A0; }
.missouri-state-bears { background-color: #4E3629; }
.northern-iowa-panthers { background-color: #4B0082; }
.southern-illinois-salukis { background-color: #800000; }
.western-illinois-leathernecks { background-color: #682A6B; }

/* Northeast */
.bryant-bulldogs { background-color: #002D72; }
.central-connecticut-blue-devils { background-color: #0033A0; }
.fdu-knights { background-color: #002D72; }
.liu-sharks { background-color: #0073CF; }
.merrimack-warriors { background-color: #00356B; }
.sacred-heart-pioneers { background-color: #CE1126; }
.st-francis-red-flash { background-color: #E41C38; }
.stonehill-skyhawks { background-color: #4B0082; }

/* Ohio Valley */
.eastern-illinois-panthers { background-color: #003DA5; }
.eastern-kentucky-colonels { background-color: #6E352C; }
.southeast-missouri-redhawks { background-color: #E32636; }
.tennessee-martin-skyhawks { background-color: #002D62; }
.tennessee-state-tigers { background-color: #003DA5; }
.tennessee-tech-golden-eagles { background-color: #4B0082; }

/* Patriot */
.bucknell-bison { background-color: #0033A0; }
.colgate-raiders { background-color: #800000; }
.fordham-rams { background-color: #800000; }
.georgetown-hoyas { background-color: #002147; }
.holy-cross-crusaders { background-color: #4B0082; }
.lafayette-leopards { background-color: #800000; }
.lehigh-mountain-hawks { background-color: #800000; }

/* Pioneer */
.butler-bulldogs { background-color: #041E42; }
.davidson-wildcats { background-color: #8B0000; }
.dayton-flyers { background-color: #CE1126; }
.drake-bulldogs { background-color: #003DA5; }
.moret-head-state-eagles { background-color: #0057B7; }
.presbyterian-blue-hose { background-color: #00539B; }
.san-diego-toreros { background-color: #00539B; }
.stetson-hatters { background-color: #00530D; }
.valparaiso-beacons { background-color: #FFD700; }

/* SoCon */
.chattanooga-mocs { background-color: #0033A0; }
.citadel-bulldogs { background-color: #003DA5; }
.east-tennessee-state-bucs { background-color: #041E42; }
.furman-paladins { background-color: #4B0082; }
.mercer-bears { background-color: #F47B20; }
.samford-bulldogs { background-color: #0033A0; }
.vmi-keydets { background-color: #800000; }
.western-carolina-catamounts { background-color: #4B0082; }
.wofford-terriers { background-color: #A5A58D; }

/* Southland */
.houston-baptist-huskies { background-color: #0033A0; }
.incarnate-word-cardinals { background-color: #CE1126; }
.mcneese-state-cowboys { background-color: #003DA5; }
.nicholls-colonels { background-color: #800000; }
.northwestern-state-demons { background-color: #4B0082; }
.southeastern-louisiana-lions { background-color: #007A33; }
.texas-am-commerce-lions { background-color: #003DA5; }
.texas-am-corpus-christi-islanders { background-color: #003DA5; }

/* SWAC */
.alabama-am-bulldogs { background-color: #800000; }
.alabama-state-hornets { background-color: #FFD700; }
.alcorn-state-braves { background-color: #4B0082; }
.arkansas-pine-bluff-golden-lions { background-color: #FFD700; }
.bethune-cookman-wildcats { background-color: #800000; }
.florida-am-rattlers { background-color: #008000; }
.grambling-state-tigers { background-color: #FFD700; }
.jackson-state-tigers { background-color: #003DA5; }
.mississippi-valley-state-delta-devils { background-color: #006400; }
.prairie-view-am-panthers { background-color: #4B0082; }
.southern-university-jaguars { background-color: #003DA5; }
.texas-southern-tigers { background-color: #800000; }